*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: "OpenSans";
}

.container {
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "OpenSans";
  src: url("./src/assets/fonts/open-sans/OpenSans-Regular.woff") format("woff"), url("./src/assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype"), url("./src/assets/fonts/open-sans/OpenSans-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "Coiny";
  src: url("./src/assets/fonts/Coiny/Coiny-Regular.woff2") format("woff2"), url("./src/assets/fonts/Coiny/Coiny-Regular.woff") format("woff"), url("./src/assets/fonts/Coiny/Coiny-Regular.ttf") format("truetype"), url("./src/assets/fonts/Coiny/Coiny-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "Monoton";
  src: url("./src/assets/fonts/Monoton/Monoton-Regular.woff2") format("woff2"), url("./src/assets/fonts/Monoton/Monoton-Regular.woff") format("woff"), url("./src/assets/fonts/Monoton/Monoton-Regular.ttf") format("truetype"), url("./src/assets/fonts/Monoton/Monoton-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("./src/assets/fonts/Caveat/Caveat-Regular.woff") format("woff"), url("./src/assets/fonts/Caveat/Caveat-Regular.ttf") format("truetype"), url("./src/assets/fonts/Caveat/Caveat-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "ComicNeue";
  src: url("./src/assets/fonts/ComicNeue/ComicNeue-Regular.woff2") format("woff2"), url("./src/assets/fonts/ComicNeue/ComicNeue-Regular.ttf") format("truetype"), url("./src/assets/fonts/ComicNeue/ComicNeue-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "KottaOne";
  src: url("./src/assets/fonts/KottaOne/KottaOne-Regular.woff2") format("woff2"), url("./src/assets/fonts/KottaOne/KottaOne-Regular.ttf") format("truetype"), url("./src/assets/fonts/KottaOne/KottaOne-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "Courgette";
  src: url("./src/assets/fonts/Courgette/Courgette-Regular.woff2") format("woff2"), url("./src/assets/fonts/Courgette/Courgette-Regular.woff") format("woff"), url("./src/assets/fonts/Courgette/Courgette-Regular.ttf") format("truetype"), url("./src/assets/fonts/Courgette/Courgette-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "HomemadeApple";
  src: url("./src/assets/fonts/Homemade_Apple/HomemadeApple-Regular.woff2") format("woff2"), url("./src/assets/fonts/Homemade_Apple/HomemadeApple-Regular.woff") format("woff"), url("./src/assets/fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format("truetype"), url("./src/assets/fonts/Homemade_Apple/HomemadeApple-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "Arizonia";
  src: url("./src/assets/fonts/Arizonia/Arizonia-Regular.woff2") format("woff2"), url("./src/assets/fonts/Arizonia/Arizonia-Regular.woff") format("woff"), url("./src/assets/fonts/Arizonia/Arizonia-Regular.ttf") format("truetype"), url("./src/assets/fonts/Arizonia/Arizonia-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "Fantacy";
  src: url("./src/assets/fonts/Oooh_Baby/OoohBaby-Regular.woff2") format("woff2"), url("./src/assets/fonts/Oooh_Baby/OoohBaby-Regular.woff") format("woff"), url("./src/assets/fonts/Oooh_Baby/OoohBaby-Regular.ttf") format("truetype"), url("./src/assets/fonts/Oooh_Baby/OoohBaby-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: "SherlockHolmes";
  src: url("./src/assets/fonts/GreatVibes/GreatVibes-Regular.woff2") format("woff2"), url("./src/assets/fonts/GreatVibes/GreatVibes-Regular.woff") format("woff"), url("./src/assets/fonts/GreatVibes/GreatVibes-Regular.ttf") format("truetype"), url("./src/assets/fonts/GreatVibes/GreatVibes-Regular.eot") format("embedded-opentype");
  font-style: normal;
}
.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  font-family: "Caveat";
  line-height: 1;
  margin-bottom: 3.2rem;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s ease;
}

.s1 {
  background-color: black;
  display: block;
}

.s2 {
  background-color: #dbdbdb;
}

.s3 {
  background-color: #c6c6c6;
}

.s4 {
  background-color: #dbdbdb;
}

.s5 {
  background-color: #c6c6c6;
}

.s6 {
  background-color: #dbdbdb;
}

.introduction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  padding: 5rem 10rem;
}
.introduction__textbox {
  animation: textboxAnimation 2s;
}
.introduction__header {
  color: wheat;
}
.introduction__header span {
  color: #ffe656;
}
.introduction__paragraph {
  color: #999;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 4.8rem;
  line-height: 1.5;
  font-family: "OpenSans";
}
.introduction__buttonbox {
  display: flex;
}
.introduction__image img {
  width: 100%;
  animation: imageAnimation 2s;
}
.introduction__button-first {
  background: #36715f;
}
.introduction__button-second {
  background: transparent;
}
.introduction__button-second:hover {
  background: #36715f;
}

@keyframes imageAnimation {
  0% {
    opacity: 0.2;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes textboxAnimation {
  0% {
    opacity: 0.2;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
  color: white;
  padding: 1rem 3rem;
  font-family: "Coiny";
  border-radius: 10rem;
}
.btn:hover, .btn:active {
  transform: translateY(-0.3rem);
}
.btn:not(:last-child) {
  margin-right: 1rem;
}
.icon__sign-up {
  width: 2rem;
  height: 2rem;
  fill: white;
  margin-right: 0.5rem;
}

.delivered__meals {
  display: flex;
  align-items: center;
}
.delivered__faces img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 4.8rem 0;
}
.delivered__faces img:not(:last-child) {
  margin-right: -3rem;
}
.delivered__paragraph {
  color: #999;
  font-size: 1.4rem;
  margin-left: 2rem;
  font-family: "OpenSans";
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.delivered__paragraph span {
  color: #36715f;
  font-size: 2rem;
}

.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story__text {
  padding: 4rem 12rem;
}
.story__top__heading {
  color: #999;
}
.story__heading {
  color: #36715f;
  margin-top: -8rem;
  margin-left: 4rem;
}
.story__number {
  font-size: 15rem;
  font-family: "Courgette";
  color: #999;
}
.story__paragraph {
  font-size: 2.2rem;
  color: #555;
}
.story__image {
  position: relative;
  justify-self: center;
  display: inline-block;
}
.story__image img {
  position: relative;
  z-index: 1;
  display: block;
  width: 45rem;
  height: auto;
  border-radius: 50%;
}

@keyframes demo {
  0% {
    opacity: 0.5;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.featured__text {
  width: 75%;
}
.featured__heading {
  color: #999;
}
.featured__logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured__paragraph {
  font-size: 2.2rem;
  color: #555;
  margin-bottom: 2rem;
}
.featured__logo {
  height: 20rem;
  cursor: pointer;
  transition: all 0.2s;
}
.featured__logo:hover {
  transform: scale(1.05);
}

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  animation: headerAnimation 2s;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__img {
  width: 20rem;
}
.header__list {
  display: flex;
}
.header__item {
  list-style: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10rem;
  transition: all 0.2s;
}
.header__item:not(:last-child) {
  margin-right: 0.5rem;
}
.header__item:hover {
  background: #50c19d;
}
.header__link {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.active {
  background: #50c19d;
}

@keyframes headerAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
