.btn {
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 2rem;
    color: white;
    padding: 1rem 3rem;
    font-family: "Coiny";
    border-radius: 10rem;

    &:hover,
    &:active {
        transform: translateY(-0.3rem);
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:link,
    &:visited {}
}