.btn {
    font-size: 2rem;
    border: none;
    padding: 1rem 3rem;
    font-family: "Coiny";
    color: white;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-0.3rem);
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}