@use '../abstracts/variables' as *;

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease;
}

.s1 {
    background-color: black;
    display: block;
    // background: black;
}

.s2 {
    background-color: #dbdbdb;
    // background: black;
}

.s3 {
    background-color: #c6c6c6;
    // background: black;
}

.s4 {
    background-color: #dbdbdb;
    // background: black;
}

.s5 {
    background-color: #c6c6c6;
    // background: black;
}

.s6 {
    background-color: #dbdbdb;
    // background: black;
}

.section__story {}