.s1 {
    background-color: black;
    display: block;
}

.s2 {
    background-color: white;
}

.s3 {
    background-color: wheat;
}

.s4 {
    background-color: white;
}

.s5 {
    background-color: wheat;
}

.s6 {
    background-color: tomato;
}