.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    animation: headerAnimation 2s;

    &__logo {}

    &__img {
        width: 20rem;
    }

    &__nav {
        &-left {}

        &-right {}
    }

    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        padding: 1rem 2rem;
        cursor: pointer;
        border-radius: 10rem;
        transition: all 0.2s;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &:hover {
            background: #36715f;
        }
    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }
}

.active {
    background: #36715f;
}

@keyframes headerAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0.1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}